/* 공통 css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}

/* 사업자 마이페이지 공통 */
.empMypage_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
}
.empMypage_title {
    grid-column: 1/3;
    grid-row: 1/2;
}
.empMypage_nav {
    grid-column: 1/2;
    grid-row: 2/3;
}
.empMypage_nav_grid{
    display: grid;
}
.empMypage_main {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* 사업자 정보변경 페이지 */
/* 사업자 수영장 관리 페이지 */
/* 사업자 강사 관리 페이지 */
/* 사업자 휴무일 관리페이지 */
/* 사업자 예약 관리페이지 */
/* 사업자 리뷰 관리페이지 */